

*{

    box-sizing: border-box;

}


body{
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

 
 :root {
    --blanc: #fff;
    --gris-clair: #ddd;
    --gris-transparant: rgba(0, 0, 0, 0.212);
    --gris: rgb(155, 155, 155);
    --gris-fonce: rgb(94, 94, 94);
    --bleu-clair: #c1d2d9;
    --bleu-fonce: #7bafc9;
    --orange: orange;
}
 

/* Header */
header{
    background-image: url(../img/bg.jpg);
    background-size: cover ;/* on couvre tounotre header */
    background-position: center;/* ici on centre l'image */
    background-repeat: no-repeat;/* on ne repete pas l'image */
    height: 90vh;/* ici vh signifie view height -->il représente 90% de l'écran de la personne qui est sur le site  */
}


header div#navigation{
display: flex;
justify-content: space-around;
background-color:var(--gris-transparant) ;
align-items: center;
}

h1{
    font-family: 'Ephesis', cursive; 
    color: var(--blanc);
}

header nav a{
    text-decoration: none;
    color: var(--blanc);
    border-radius: 30px;
    padding: 15px 20px;
    transition: 2s ease;
}

header nav a:last-of-type {
    border:2px solid var(--blanc);
}


header nav a:hover {
background-color: var(--bleu-fonce);
color: var(--blanc);

}

header #en-tete{
    text-align: center;
    color: var(--blanc);
}

#en-tete h2{
    margin:  15px 0 0 0;
    font-family: 'Ephesis', cursive;
    text-transform: capitalize;
    font-size: 5em;
    font-weight: lighter;
    line-height: 1em;
}

#en-tete p{
    margin: 0;
}

/* pARTIE RECHERCHE */
#recherche {
    height: 10vh;
    background-color: var(--bleu-clair);
    color: var(--bleu-fonce);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#recherche p{
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
}

#recherche i{
    font-size: 1.2em;
}
/* Main */

.conteneur{
    width: 70%;
    margin: auto;
}

article div{
    border:  1px solid var(--gris-clair);
    position: relative;
}

.prix{
    position: absolute;/* ici  la position absolute est oar raoport au parent le pls proche en position relative , c'est à dire article div. Attention si on ne précise pas de position relative il se place par  à bodu(naturellement en position relative)*/
    top:2%;
    left: 2%;
    background-color: var(--blanc);
    padding: 15 px 10px;
    border: none;
}

div.texte{
    padding: 15px;
    border: none;
}
h3{
    color: var(--gris-fonce);
    font-size:1em;
}

.texte p{
    color: var(--gris);
    font-size: 0.8em;
}



.more{
    text-align: center;
    height: 70px;
}

.more button{
    padding: 10px 20px;
    border-radius: 50px;
    background: transparent;
    color: var(--bleu-fonce);
    border:1px solid var(--bleu-fonce);
    cursor: pointer;
    transition: 1s ease;

}
.more button:hover{
    background-color: var(--bleu-fonce);
    color:var(--blanc);
}

footer{
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    height: fit-content;/* la taille va s'adapter au contenu */
   
}
footer a {
    color: var(--blanc);
    text-decoration: none;

}

footer p{
    line-height: 35px;
}
footer i{
    padding-right: 25px;
    font-size: 1.2em;
}

footer a:hover{
    color: var(--blanc);
}

footer hr{
    color: var(--blanc);
    background-color: var(--blanc);
}
.copyright{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}








/* Rangée et colonnes */
 /* mx-auto :centrer un contenu, x signifie  */

 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Flex-wrap : wrap va permettre de donner comme indication que s'il n'y a pas assez de place le contenu doit aller à la ligne */
}

.col-1 {
    width: 8.33333%;
    padding: 25px;
}

.col-2 {
    width: 16.666666%;
    padding: 25px;
}

.col-3 {
    width: 25%;
    padding: 25px;
}

.col-4 {
    width: 33.333333%;
    padding: 25px;
}

.col-5 {
    width: 41.666666%;
    padding: 25px
}

.col-6 {
    width: 50%;
    padding: 25px;
}

.col-7 {
    width: 58%;
    padding: 25px;
}

.col-8 {
    width: 66.666666%;
    padding: 25px;
}

.col-9 {
    width: 75%;
    padding: 25px;
}

.col-10 {
    width: 83.666666%;
    padding: 25px;
}

.col-11 {
    width: 91.666666%;
    padding: 25px;
}

.col-12 {
    width: 100%;
    padding: 25px;
}
/* Les médias queries pour smartphones*/

@media screen  and (max-width:767px){/* header */
    header #navigation{
display: flex;
flex-direction: column;
min-height: 150px;

    }
    
     #navigation a {
        padding: 10px; 
      
    }

#navigation a:last-of-type{
    border:none;
}

#en-tete{
    background-color: var(--gris-transparant);
}
#en-tete h2{
    margin: 0;
    padding-top: 25px;
}
#en-tete p{
    padding-bottom: 25px;
}
/* partie recherche */
#recherche i{
    display: none;
}
/* main et footer */

.conteneur{
    width: 85%;
    text-align: center;
}

/* redefinition des colonnes */
.col-4{
    width: 100%;
}

.col-2{
width: 100%;
}

.col-6{
    width: 100%;
}

}
/* Les médias queries pour tableattes*/

@media screen and (min-width:768px) and (max-width:991px) {
    
header #navigation{
    display: flex;
    flex-direction: column;
    min-height: 120px;/* C' est la hauteur minimum , si on sait que ça peut prendre plus de place */
}
h1{
    margin: 0;
}
#navigation a {
    padding:10px
}

#navigation a:last-of-type {
    border:none;
}

#en-tete{
    background-color: var(--gris-transparant);
    padding:25px;
}
.conteneur{
    width: 90%;
}
.col-4{
    width: 50%;
}
.col-2{
    width: 33.3333%;
}

.col-4:last-of-type:nth-of-type(odd){
    /* ici on vise le dernier élément ayant la classe col-4, on verifie ensuite si cette est pair (even) ou impair(ogg) si le dernier élément est impair , alors on demande au navigateur de ne pas l'afficher , don con met display : none */
display: none;

}
#reseaux{
    text-align: center;
}
.col-6{
    width: 100%;
}
}